@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fbf8fb;
  color: #000;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

::selection {
  background: #9e2a89;
  color: #fff;
}